<% layout('boilerplate.ejs') %>
<ul>
    <li><%= campground.title %> - <%= campground.price %></li>
    <img src="<%= campground.image %>" alt="">
    <l1><%=campground.description%></l1> 
    <footer>
        <a href="/campgrounds/<%= campground.id%>/edit">Edit</a>
        <a href="/campgrounds">All campgrounds</a>
    </footer>
    <li>
        <form action="/campgrounds/<%=campground.id%>?_method=DELETE" method="POST">
            <button type="submit">DELETE</button>
        </form>
    </li>
</ul>
